.content {
    margin-bottom: 80px;
    max-width: 1200px;
}

.content p {
    font-size: 30px;
}

.content .contact-form {
    display: flex;
    flex-direction: column;
}

.content .contact-form h2 {
    font-size: 40px;
    font-weight: var(--Bold);
    margin-bottom: 20px;
}

.content .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content .contact-form form input, .content .contact-form form textarea {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    border-radius: 9px;
    border: 2px solid var(--tertiary);
    padding: 15px 10px;
    background-color: var(--secondary);
}

.content .contact-form form #submit {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
    width: 260px;
}

.form-error {
    color: var(--error);
    font-weight: var(--Bold);
    top: 0px;
    font-size: 18px;
    margin-bottom: 10px;
}

/*Hover*/
.content .contact-form form #submit:hover {
    filter: brightness(0.9);
}

/*Transitions*/
.content .contact-form form #submit, .form-error {
    transition: 0.2s ease-in-out;
}

/*Media queries*/
@media only screen and (max-width: 1050px) {
    .content .contact-form form #submit {
        width: 100%;
    }
}